@model Project_19.Models.ChangePasswordForm

@{
	ViewData["Icss"] = "bi bi-key-fill";
	ViewData["Check"] = "bi bi-check-circle-fill";
	ViewData["Title"] = "Change password";
}

@if (ViewBag.SuccessMessage != null)
{
	<div class="p-1 mb-2 text-success"><i class="@ViewBag.Check"></i> @ViewBag.SuccessMessage</div>
}

<div class="row">
	<div class="col-md-4">
		<form asp-action="ChangePassword" asp-antiforgery="true">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Login"/>
			<div class="form-group">
				<label asp-for="OldPassword" class="control-label"></label>
				<input asp-for="OldPassword" class="form-control" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form-group" style="margin-top:10px">
				<input type="submit" value="Confirm" class="btn btn-primary" />
				<input type="button" value="Back to book" class="btn btn-secondary"
				       onclick="location.href='@Url.Action("Index", "Contacts")'" />
			</div>
		</form>
	</div>
</div>
