@model Project_19.Models.Role

@{
    ViewData["Icss"] = "bi bi-star-half";
    ViewData["Title"] = "Edit role";
    var isAdmin = Model.Name == "admin";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                @if (!isAdmin)
                {
	                <input type="submit" value="Save" class="btn btn-warning"/>
                }
	            <input type="button" value="Back to roles" class="btn btn-secondary"
	                   onclick="location.href='@Url.Action("Index")'"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
